/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
_ide_helper.php
_ide_helper_models.php
/entry/.env.testing

/entry/.phpunit.cache
/entry/node_modules
/entry/public/build
/entry/public/hot
/entry/public/storage
/entry/vendor
/entry/.env
/entry/docker/.env
/entry/docker/logs
/entry/prod/logs
/entry/prod/.env
/entry/.env.backup
/entry/.env.production
/entry/.phpunit.result.cache
/entry/Homestead.json
/entry/Homestead.yaml
/entry/auth.json
/entry/npm-debug.log
/entry/yarn-error.log
/entry/.fleet
/entry/.idea
/entry/.vscode
bootstrap/cache/services.php

/entry/storage/app/*
/entry/storage/framework/cache/*
/entry/storage/framework/sessions/*
/entry/storage/framework/views/*
/entry/storage/logs/*
/entry/storage/*.key
