includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    parallel:
        maximumNumberOfProcesses: 4

    level: 5

    paths:
        - app
        - ../User
        - ../Flashcard
        - ../Shared

    excludePaths:
        - tests/*

    checkMissingIterableValueType: false
